.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.l {
  font-size: 40px;
}

.column {
  flex-direction: column;
}
